<div class="wrapper fadeInDown m-3">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <%= image_tag 'logo.png', id: 'icon', class: 'm-5' %>
    </div>

    <!-- Signup Form -->
    <%= form_tag(controller: 'sign_ins', action: 'create', method: 'post') do %>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="E-mail" required>
      <input type="password" id="password" class="fadeIn second" name="password" placeholder="Password" required>
      <input type="submit" class="fadeIn fourth" value="Sign In">
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <%= link_to 'Don\'t have an account yet? Sign up', new_sign_up_path, class: 'underlineHover' %>
      <%= link_to 'Forgot your password?', new_reset_password_path, class: 'underlineHover' %>
    </div>
  </div>
</div>
